.container {
    max-width: 900px;
    margin: auto;
    margin-top: 15px;
    padding: 8px;
}

.transactionsContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}
