/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* Universal styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* body styles */
body {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

/* Disabling below as it is effecting bootstrap styles. */
/* h1,h2,h3,h4 {
  margin: 6px;
  padding: 6px;
}

h1{
  font-size: clamp(1.8rem, 9.5vw, 2.8rem);
}

h2{
  font-size: clamp(1rem, 5.5vw, 2rem);
  line-height: 1.5;
}

h4 {
  font-size: clamp(0.9rem, 5.5vw, 1.5rem);
}

p {
  margin: 6px;
  padding: 6px;
  color: #777;
  line-height: 1.8;
} */

button {
  color: white;
  margin-right: 5px;
}
