/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap');

/* Universal styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body styles */
body {
  font-family: Poppins, sans-serif;
}

h1,h2,h4,p {
  margin: 6px;
  padding: 6px;
}

h1{
  font-size: clamp(1.8rem, 9.5vw, 2.8rem);
}

h2{
  font-size: clamp(1rem, 5.5vw, 2rem);
}

p {
  color: #777;
  line-height: 1.8;
}

button{
  display: inline-block;
  margin: 9px;
  padding: 8px 18px;
  outline: none;
  border: none;
  background: #4d4dff;
  color: white;
  border-radius: 5px;
}