/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap');

/* Universal styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body styles */
body {
  font-family: Poppins, sans-serif;
  border: 1px solid red;
}

h1,h2 {
  margin: 6px;
  padding: 6px;
}
